
{% extends "base.html" %}

{% load staticfiles %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="static/css/home.css" />
{% endblock %}

{% block page %}
<div id="page">
  <div class="front-container">
    <div class="front-bg"></div>
    <div class="wrapper">
      <div class="dashboard">
	<div class="module mini-profile">
	  <div class="profile-summary">
	    <a href="/zhoup3ng" class="account-summary" data-nav="profile">
	      <div class="profile-content">
		<div class="account-group current-user" data-user-id="" data-screen-name="">
		  <img class="avatar size32" src="/static/img/profile-icons/vivalavida.jpeg" data-user-id="" alt=""></img>
		  <b class="fullname">Zhou P3ng</b>
		  <small class="metadata">View my profile page</small>
		</div>
	      </div>
	    </a>
	  </div>
	  <div class="mini-summary">
	    <ul class="stats" data-user-id="">
	      <li>
		<a class="" href="/post">
		  <strong>12</strong>Posts
		</a>
	      </li>
	      <li>
		<a class="" href="/task">
		  <strong>9</strong>Tasks
		</a>
	      </li>
	      <li>
		<a class="" href="/im">
		  <strong>3</strong>Messages
		</a>
	      </li>
	    </ul>
	  </div>

	  <div class="home-post">
	    <form class="" action="/post/new" method="post">
	      {% csrf_token %}
	      <div class="post-content">
		<div class="">Compose new post</div>
	      </div>
	    </form>
	  </div>
	</div>

	<div class="module">
	  <div class="module-inner">
	    <div class="module-header">
	      <h3>What's new?</h3>
	      <small>
		<a href="javascript:void(0)">Refresh</a>
	      </small>
	      <small>
		<a href="/post/recent">View all</a>
	      </small>
	    </div>
	  </div>
	</div>

	<div class="module">
	  <div class="module-inner">
	    <div class="module-header">
	      <h3>What's hot?</h3>
	      <small>
		<a href="javascript:void(0)">Refresh</a>
	      </small>
	      <small>
		<a href="/post/hot">View all</a>
	      </small>
	    </div>
	  </div>
	</div>
     </div>
     <div id="home-activities" class="content home-activities">
       <div class="content-header">
	 <div class="header-inner">
	   <h2>Activities</h2>
	 </div>
       </div>
      <div class="stream-container">
	<div class="stream-item">
	  <div class="new-activities">4 new activities</div>
	</div>

	<div class="stream">
	  <ol class="stream-items">
	    <li class="stream-item">
	      <div class="post">
		<div class="post-content">
		  <div class="module-header">
		    <img class="avatar size48" src="/static/img/profile-icons/vivalavida.jpeg" alt="zhoup3ng"></img>
		    <h3>ZhouP3ng</h3>
		    <small class="metadata">@zhoup3ng</small>
		    <p>It was destiny to become great.</p>
		    <div class="post-footer">
		      <small>
			<a href="#">View detail</a>
		      </small>
		    </div>
		  </div>
		</div>
	      </div>
	    </li>
	    <li class="stream-item">
	      <div class="post">
		<div class="post-content">
		  <div class="module-header">
		    <img class="avatar size48" src="/static/img/profile-icons/vivalavida.jpeg" alt="zhoup3ng"></img>
		    <h3>ZhouP3ng</h3>
		    <small class="metadata">@zhoup3ng</small>
		    <p>What's in you mind?</p>
		    <div class="post-footer">
		      <small>
			<a href="#">View detail</a>
		      </small>
		    </div>
		  </div>
		</div>
	      </div>
	    </li>
	  </ol>
	</div>
      </div>
       <div class="stream-footer">
	 <div class="stream-loading">
	   <div class="stream-loading-inner">
	     <span class="spinner" title="loading...">loading...</span>
	   </div>
	 </div>
       </div>
     </div>
    </div>
  </div>
</div>
{% endblock %}
