
.notifications {
	width: 250px;
	position: absolute;
	float: right;
	top: 60px;
	right: 15px;
	/*height: 100px;*/
	height: auto;
}

.notifications .notification {
}

.notifications .notification-item {
	position: relative;
	display: none;
	padding: 10px;
	color: #fff;
	border-radius: 4px;
	margin-bottom: 2px;
	/*border: 1px solid #e8e8e8;*/
	border: none;
	-webkit-box-shadow: 0 4px 12px rgba(0,0,0,.4),inset 0 1px 0 rgba(255,255,255,.5);
	box-shadow: 0 4px 12px rgba(0,0,0,.4),inset 0 1px 0 rgba(255,255,255,.5);
	margin-bottom: 2px;
}

.notifications .alert {
	/*background-color: red;*/
	/*color: #b94e48;*/
	/*background-color: #f2dede;*/
	color: #fff;
	background-color: #c44;
}

.notifications .alert button.close, .notifications .info button.close {
	color: #ccc;
}

.notifications .alert button:hover.close, .notifications .info button:hover.close {
	color: #fff;
}

.notifications .warn button.close {
	color: #c88;
}

.notifications .warn button:hover.close {
	color: #a66;
}

.notifications .warn {
	background-color: yellow;
	color: #c09853;
	background-color: #fcf8e3;
}

.notifications .info, .notifications .remote {
	color: #fff;
	background-color: #333;
}

.notifications small {
	padding: 0px;
}
