{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<!DOCTYPE HTML>
<html lang="en" data-fouc-class-name="swift-loading" class="swift-loading">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
		<meta charset="utf-8"></meta>
		<title>Curve</title>
		<link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon"></link>
		{# <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"></link> #}
		<link rel="stylesheet" type="text/css" href="{% static 'css/curve.css' %}"></link>
		<link rel="stylesheet" type="text/css" href="{% static 'css/notification.css' %}"></link>
		<link rel="stylesheet" type="text/css" href="{% static 'home/css/home.css' %}"></link>
		<link rel="stylesheet" type="text/css" href="{% static 'document/css/document.css' %}"></link>
	</head>

	<body class="user-style-default">
		<div id="doc" class="doc-main">
			{% if user.is_authenticated %}
			<div id="topbar" class="navbar navbar-inverse navbar-fixed-top">
				<div class="navbar-inner">
					<div class="container">
						<div id="loading" class="pushstate-spinner">
							<i class="spinner-medium"></i>
						</div>
						<!-- navigation buttons. -->
						<ul class="nav js-global-nav">
							<li class="active">
								<a class="js-nav" href="/home" id="home">
									<span>
										<i class="nav-home"></i>
									</span>
									<small>Home</small>
								</a>
							</li>
							<li>
								<a class="js-nav" href="/document" id="documents">
									<span>
										<i class="nav-document"></i>
									</span>
									<small>Document</small>
								</a>
							</li>
							<li>
								<a class="js-nav" href="/conference" id="conference">
									<span>
										<i class="nav-conference"></i>
									</span>
									<small>Conference</small>
								</a>
							</li>
							<li>
								<a class="js-nav" href="#" id="message">
									<span>
										<i class="nav-messages"></i>
									</span>
									<small>Messages</small>
								</a>
							</li>
						</ul>

						<!-- put right form and dropdown menu. -->
						<div class="pull-right">
							<form action="/search" method="post" class="form-search">
								{% csrf_token %}
								<input id="search-query" type="text" class="search-input" placeholder="search"/>
							</form>
							<ul class="nav">
								<li class="me dropdown">
									<a class="dropdown-toggle" href="#" data-toggle="dropdown">
										<span>
											<i class="profile-icon"></i>
										</span>
										<span class="caret"></span>
									</a>
									<ul class="dropdown-menu hide">
										<li id="current-user" class="current-user" data-name="profile" data-user-id="{{ request.session.userid }}">
											<a href="/{{ request.session.username }}" class="account-summary" data-name="profile">
												<div class="profile-content">
													<div class="account-group">
														<img class="avatar size32" src="{% static 'img/profile-icons/vivalavida.jpeg' %}"/>
														<b class="fullname">{{ request.session.username }}</b>
														<small class="metadata">Edit profile</small>
													</div>
												</div>
											</a>
										</li>
										<li class="divider"></li>
										<li>
											<a id="messages-menu" class="" href="#" data-nav="message">Messages</a>
										</li>
										<li class="divider"></li>
										<li>
											<a class="" href="/member/setting">Settings</a>
										</li>
										<li>
											<a class="" href="/signout">Sign out</a>
										</li>
									</ul>
								</li>
							</ul>
							<div class="topbar-post">
								<button type="button" id="global-post-btn" class="btn compose-btn topbar-post-btn" placeholder="Post">
									<i class="new-post"></i>
								</button>
							</div>
						</div>
					</div>
					<div class="navbar-bottom"></div>
				</div>
				<!-- notifications. -->
				<div id="notifications" class="notifications">
					<ol class="notification-items">
					</ol>
				</div>
			</div>
			{% else %}
			<div class="navbar navbar-inverse navbar-fixed-top">
				<div class="navbar-inner">
					<div class="container">
						<div class="nav-collapse collapse">
							<a class="brand nav-brand" href="/about">Curve</a>
						</div>
					</div>
				</div>
			</div>
			{% endif %}

			<div id="page">
				<div class="container">
				{% block page %}
				{% endblock %}
				</div>
			</div>
		</div>

		<!-- Modal overlay. -->
		<div class="modal-overlay"></div>

		<!-- Global post dialog. -->
		<div id="post-dlg" class="dialog draggable" style="top: 147px; left: 290px; display: none;">
			<div class="dialog-content">
				<div class="dialog-header">
					<button type="button" class="dialog-btn dialog-close">
						<i class="close-medium"></i>
					</button>
					<h3 class="dialog-title">What to know or what to tell?</h3>
				</div>
				<div class="dialog-body">
					<form class="post-form clearfix" method="post" action="/post/create">
					{% csrf_token %}
						<div class="post-content">
							<div class="post-editor editor" contenteditable="true" spellcheck="true" aria-multiline="true" dir="ltr" role="textbox">
								<div><br/></div>
							</div>
							<div class="editor-normalizer">
								<div></div>
							</div>
							<div class="dropdown-menu typeahead" style="display: none;">
								<div class="dropdown-caret">
									<div class="caret-outer"></div>
									<div class="caret-inner"></div>
								</div>
								<div class="dropdown-inner js-typeahead-results">
									<div class="typeahead-accounts js-typeahead-accounts">
										<ul class="typeahead-items account-list">
										</ul>
									</div>
									<ul clas="typeahead-items topic-list "></ul>
								</div>
							</div>
							<textarea name="post-content" class="hide"></textarea>
						</div>
						<div class="post-toolbar">
							<div class="post-thumbnail"></div>
							<div class="post-toolbox">
								<div class="file-selector">
									<input type="button" class="btn text-input file-input" placeholder="file" value="File"></input>
								</div>
							</div>
							<div class="post-button">
								<span class="spinner hide"></span>
								<span class="post-count">140</span>
								<button id="global-post" type="button" class="btn primary-btn" placeholder="Post" disabled="disabled">Post</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>

		<!-- GLobal messages dialog. -->
		<div id="msg-dlg" class="dialog draggable" style="top: 147px; left: 290px; display: none;">
			<div class="dialog-content">
				<button type="button" class="dialog-btn dialog-close">
					<i class="close-medium"></i>
				</button>
				<div class="dialog-header">
					<h3 class="dialog-title">Message</h3>
				</div>
				<div class="dialog-body">
					<div class="conversation">
						<div class="message-received">
							<img class="avatar size48" src="{% static 'img/profile-icons/vivalavida.jpeg' %}" alt="zhoup3ng"></img>
							<div class="message-content clearfix">
								<div class="message">
									<p>Message content here.</p>
									<div class="msg-caret">
										<div class="msg-caret-outer"></div>
										<div class="msg-caret-inner"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="message-sent">
							<img class="avatar size48" src="{% static 'img/profile-icons/vivalavida.jpeg' %}" alt="zhoup3ng"></img>
							<div class="message-content clearfix">
								<div class="message">
									<p>The quick brown fox jumps over a lazy dog. Message content here, it demostrates a larger parograph of text.</p>
									<div class="msg-caret">
										<div class="msg-caret-outer"></div>
										<div class="msg-caret-inner"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="message-received">
							<img class="avatar size48" src="{% static 'img/profile-icons/vivalavida.jpeg' %}" alt="zhoup3ng"></img>
							<div class="message-content clearfix">
								<div class="message">
									<p>Message content here.</p>
									<div class="msg-caret">
										<div class="msg-caret-outer"></div>
										<div class="msg-caret-inner"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="message-sent">
							<img class="avatar size48" src="{% static 'img/profile-icons/vivalavida.jpeg' %}" alt="zhoup3ng"></img>
							<div class="message-content clearfix">
								<div class="message">
									<p>Message content here.</p>
									<div class="msg-caret">
										<div class="msg-caret-outer"></div>
										<div class="msg-caret-inner"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<form class="message-form dialog-form clearfix" method="post" action="/message/new">
						<div class="message-editor editor"  contenteditable="true" spellcheck="true" aria-multiline="true" dir="ltr" role="textbox">
						</div>
						<div class="send-button">
							<span class="spinner"></span>
							<span class="message-count">140</span>
							<button id="message-send" type="button" class="btn primary-btn" placeholder="Send Message">Send Message</button>
						</div>
					</form>
				</div>
				<div class="dialog-footer">
					<p>footer</p>
				</div>
			</div>
		</div>

		<!-- Reahder. -->
		<div id="reader-dlg" class="reader dialog dialog-dark draggable" style="top: 147px; left: 290px; display: none;">
			<div class="dialog-content">
				<div class="dialog-header">
					<button type="button" class="dialog-btn dialog-close">
						<i class="close-medium"></i>
					</button>
					<h3 class="dialog-title">Openning Document...</h3>
				</div>
				<div class="dialog-body">
					<div class="reader-alert alert hide">
						<button class="close">&times;</button>
						<span>Document read error!</span>
					</div>
					<div class="reader-loading">
						<i class="spinner-medium"></i>
					</div>
					<div class="reader-content">
					</div>
				</div>
			</div>
		</div>

		<!-- Placed at the end of document so pages load faster. -->
		<script type="text/javascript" src="{% static 'js/jquery-1.10.2.js' %}"></script>
		{# <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script> #}
		<script type="text/javascript" src="{% static 'js/curve.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/common.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/jquery.cookie.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/csrftoken.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/logging.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/draggable.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/dialog.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/editor.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/poster.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/bosh.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/post.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/notification.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/reader.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/application.js' %}"></script>
	</body>
</html>
