{% extends ajax|yesno:"ajaxbase.html,base.html" %}
{# {% extends "ajaxbase.html" %} #}
{% block page %}
<div class="dashboard">
	<div class="sidebar">
        <ul class="nav nav-list sidebar-nav">
          <li class="active">
          	<a href="/document"><i class="sidebar-nav-icon"></i> Recent</a>
          </li>
          <li>
          	<a href="/document/new"><i class="sidebar-nav-icon"></i> Compose</a>
          </li>
          <li>
          	<a href="/document/user"><i class="sidebar-nav-icon"></i> My Documents</a>
          </li>
          <li>
          	<a href="/document/group"><i class="sidebar-nav-icon"></i> Group Documents</a>
          </li>
        </ul>
	</div>
</div>
<div id="recent-documents" class="content recent-documents">
	<div class="content-header">
		<div class="header-inner">
			<h2>Recent documents</h2>
		</div>
	</div>
	<div class="document-container">
		<ol class="document-items">
			{% for document in documents %}
			<li class="document-item">
				<div class="document">
					<div class="document-content">
						<div class="module-header">
							{% if document.member.photo %}
							<img class="avatar size48" src="/media/profiles/{{ document.member.photo }}" alt="{{ document.member.username }}"></img>
							{% else %}
							<img class="avatar size48" src="/media/profiles/default-photo.jpeg" alt="{{ document.member.username }}"></img>
							{% endif %}
							<a href="/user/{{ document.member.user.id }}">
								<h3>{{ document.member.username }}</h3>
							</a>
							<small>@{{ document.member.username }}</small>
							<small class="metadata pull-right">{{ document.createTime }}</small>
						</div>
						<h3>{{ document.title }}</h3>
						<p>{{ document.content }}</p>
					</div>
				</div>
			</li>
			{% endfor %}
		</ol>
	</div>
	<div class="document-footer">
		<div class="document-loading">
			<div class="document-loading-inner">
				<span id="loading-documents" class="spinner hide"></span>
				<span id="load-documents" title="loading...">loading...</span>
			</div>
		</div>
	</div>
</div>
{% endblock %}
