
html, body, #doc, #page {
	height: 100%;
	padding: 0px;
	margin: 0px;
}

body {
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #333333;
	background-color: #ffffff;
	background-position: left 40px;
	background-attachment: fixed;
	/*background-repeat: repeat;*/
	background-repeat: no-repeat;
	background-color: #C0DEED;
	overflow-y: auto;
	font-size: 14px;
	line-height: 18px;
	color: #333;
}

ul, ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	color: #333;
	text-rendering: optimizeLegibility;
}

h2 {
	font-size: 18px;
	font-weight: bold;
	line-height: 20px;
}

h3 {
	font-size: 14px;
	font-weight: bold;
	line-height: 1;
	display: block;
	/*	font-size: 1.17em;*/
	/*-webkit-margin-before: 1em;*/
	/*-webkit-margin-after: 1em;*/
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}

button {
	border: 0;
	margin: 0;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	display: inline-block;
	border: 1px solid #cccccc;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-bottom-color: #b3b3b3;
}

i {
	display: inline-block;
	vertical-align: text-top;
	background-image: url(/static/img/curve-sprites.png);
	background-position: 0 0;
	background-repeat: no-repeat;
}

i, cite, em, var, address, dfn {
	font-style: italic;
}

input, textarea, div[contenteditable="true"] {
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.05),0 1px 0 rgba(255,255,255,.075);
	box-shadow: inset 0 1px 3px rgba(0,0,0,.05),0 1px 0 rgba(255,255,255,.075);
	-webkit-transition: .2s linear background;
	-moz-transition: .2s linear background;
	transition: .2s linear background;
}

input, textarea, div[contenteditable="true"], select {
	display: inline-block;
	/*width: 210px;*/
	padding: 4px;
	margin: 0;
	outline: 0;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 3px;
}

label, input, textarea, div[contenteditable="true"], select {
	margin: 0;
	font-size: 13px;
	line-height: 20px;
}

input:focus, textarea:focus, div[contenteditable="true"]:focus {
	outline: 0;
	color: #333;
	border-color: #56b4ef;
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.05),0 0 8px rgba(82,168,236,.6);
	box-shadow: inset 0 1px 3px rgba(0,0,0,.05),0 0 8px rgba(82,168,236,.6);
}

input[type="button"] {
	padding: 4px 8px;
	color: #777;
	cursor: pointer;
}

input[type="button"]:hover {
	color: #333;
}

ol>li {
	clear: both;
}

button:disabled, .btn[disabled], .btn.disabled:hover, .btn[disabled=true], .btn[disabled=true]:hover {
	color: #777;
	text-shadow: 0 1px 1px rgba(255,255,255,.75);
	cursor: default;
	background-color: #ddd;
	background-image: none;
	border-color: #ccc;
	opacity: .65;
}

button.close {
	float: right;
	/*background-color: rgba(0, 0, 0, 0);*/
	/*padding: 0;*/
  	cursor: pointer;
  	background: transparent;
  	border: 0;
  	-webkit-appearance: none;
  	box-shadow: none;
}

form {
	margin: auto;
}

a {
	text-decoration: none;
}

.user-style-default {
	background-image: url(/static/img/bg.png);
}

.curve {
	float: left;
}

.curve h2 {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

i.curve {
	width: 32px;
	height: 32px;
	background-position: -5px -15px;
	float: none;
}

/* ------------------------ Global miscellaneous ---------------------- */

.hide {
	display: none;
}

.loading-spinner {
	width: 32px;
	height: 32px;
	background-image: url(/static/img/loader.gif);
	background-repeat: no-repeat;
}

/*.loading-spinner {
	width: 32px;
	height: 32px;
	background-image: url(data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==);
	background-repeat: no-repeat;
}
*/
.spinner {
	width: 14px;
	height: 14px;
	background-image: url(/static/img/spinner.gif);
	background-repeat: no-repeat;
	position: relative;
	top: 2px;
	display: inline-block;
}

.spinner-medium {
	width: 24px;
	height: 24px;
	background-image: url(/static/img/spinner-medium.gif);
	background-repeat: no-repeat;
	position: relative;
	display: inline-block;
}

.container {
	position: relative;
	width: 837px;
	margin: 0 auto;
}

#page .container {
	padding: 54px 14px 15px;
	min-height: 100%;
	background-image: url(/static/img/wash-white-30.png);
	display: table;
	clear: both;
}

.size24 {
	width: 24px;
	height: 24px;
	border-radius: 3px;
}

.size32 {
	width: 32px;
	height: 32px;
	border-radius: 4px;
}

.size48 {
	width: 48px;
	height: 48px;
	border-radius: 6px;
}

.clearfix:after {
	content: '';
	display: table;
	clear: both;
}

.content {
	float: right;
	width: 522px;
}

.content-header {
	border-bottom-width: 0px !important;
	border: 1px solid #eee;
	border: 1px solid rgba(0,0,0,.1);
	border-radius: 6px 6px 0 0;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}

.content-header .header-inner, .content-no-header .no-header-inner {
	min-height: 20px;
	padding: 12px;
	background-color: #fff;
	border-bottom: 1px solid #e8e8e8;
	border-radius: 5px 5px 0 0;
}

.placeholder {
	display: block;
}

.metadata {
	color: #999;
}

.modal-overlay {
	background-color: rgba(0,0,0, 0.5);
	display: none;
	position: fixed;
	overflow: auto;
	overflow-x: hidden;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	/* z-index: 5000; */
	z-index: 2000;
}

.primary-btn {
	border-color: #096eb3;
	height: 30px;
	padding: 5px 10px;
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	box-shadow: 0px 1px 0px rgb(255, 255, 255);
	text-shadow: 0 -1px 1px rgba(0,0,0,.25);
	background-color: #019ad2;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top,#33bcef 0,#019ad2 100%);
	background-image: -webkit-linear-gradient(top,#33bcef 0,#019ad2 100%);
	background-image: -ms-linear-gradient(top,#33bcef 0,#019ad2 100%);
	background-image: -o-linear-gradient(top,#33bcef 0,#019ad2 100%);
	background-image: linear-gradient(top,#33bcef 0,#019ad2 100%);
}

.primary-btn:active {
	color: #fff;
	background-image: none !important;
	background-color: #096eb3;
	background-position: 0;
}

.primary-btn:hover, .primary-btn:focus {
	color: #fff;
	background-color: #0271bf;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(#2daddc,#0271bf);
	background-image: -webkit-linear-gradient(#2daddc,#0271bf);
	background-image: -ms-linear-gradient(#2daddc,#0271bf);
	background-image: -o-linear-gradient(#2daddc,#0271bf);
	background-image: linear-gradient(#2daddc,#0271bf);
	background-position: 0;
}

/* ------------------------ Page styles ---------------------------- */
.front-container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	min-height: 545px;
	max-height: 750px;
}

.page-bg {
	position: fixed;
	width: 100%;
	height: 100%;
	/*left: -50%;*/
	background-color: #c0deed;
	background-image: url(/static/img/bg.png);
	background-repeat: no-repeat;
	background-position: top;
}

.front-image {
	display: block;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	min-width: 50%;
	min-height: 50%;
}

/* ----------------------- Navigate bar styles ----------------------- */

#doc .navbar-inner {
	background-color: #222;
	/*background-position: 0 0;*/
	/*background-image: url(/static/img/sprite_bgs.png);*/
}

.navbar {
	*position: relative;
	*z-index: 2;
	margin-bottom: 20px;
	overflow: visible;
}

.navbar-inner a {
	display: block;
	text-decoration: none;
	padding: 10px 10px 10px 5px;
}

.navbar-inner {
	border-width: 0 0 0px !important;
	min-height: 40px;
	padding-right: 20px;
	padding-left: 20px;
}

.navbar-inner:before, .navbar-inner:after {
	display: table;
	line-height: 0;
	content: "";
}

.navbar-inner:after {
	clear: both;
}

.navbar-bottom {
	position: relative;
	height: 3px;
	background-color: #17b;
	border-bottom: 1px solid rgba(0, 0, 0, .1);
}

/* ----------------------- bootstrap navbar ----------------------------- */

.navbar-inner .container {

	/*position: relative;*/
	width: 865px;
	margin: 0 auto;
}

.navbar .divider-vertical {
	height: 40px;
	margin: 0 9px;
	border-right: 1px solid #ffffff;
	border-left: 1px solid #f2f2f2;
}

.navbar-fixed-top, .navbar-fixed-bottom {
	position: fixed;
	right: 0;
	left: 0;
	z-index: 1030;
	margin-bottom: 0;
}

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
	border-width: 0 0 1px;
}

.navbar-fixed-bottom .navbar-inner {
	border-width: 1px 0 0;
}

.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
	padding-right: 0;
	padding-left: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.navbar-fixed-top {
	top: 0;
}

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
	-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

.navbar-fixed-bottom {
	bottom: 0;
}

.navbar-fixed-bottom .navbar-inner {
	-webkit-box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.1);
	box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.1);
}

.navbar .nav {
	position: relative;
	left: 0;
	display: block;
	float: left;
}

.navbar .nav.pull-right {
	float: right;
	margin-right: 0;
}

.navbar .nav > li {
	float: left;
}

.navbar .nav > li > a {
	float: none;
	color: #777777;
	text-decoration: none;
	text-shadow: 0 1px 0 #ffffff;
}

.navbar .nav .dropdown-toggle .caret {
	margin-top: 8px;
}

.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
	color: #333333;
	text-decoration: none;
	background-color: transparent;
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
	color: #555555;
	text-decoration: none;
	background-color: #4e4;
	-webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
	-moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
	box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}

.navbar .nav > li > .dropdown-menu:before {
	position: absolute;
	top: -7px;
	left: 9px;
	display: inline-block;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #ccc;
	border-left: 7px solid transparent;
	border-bottom-color: rgba(0, 0, 0, 0.2);
	content: '';
}

.navbar .nav > li > .dropdown-menu:after {
	position: absolute;
	top: -6px;
	left: 10px;
	display: inline-block;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #ffffff;
	border-left: 6px solid transparent;
	content: '';
}

.navbar-fixed-bottom .nav > li > .dropdown-menu:before {
	top: auto;
	bottom: -7px;
	border-top: 7px solid #ccc;
	border-bottom: 0;
	border-top-color: rgba(0, 0, 0, 0.2);
}

.navbar-fixed-bottom .nav > li > .dropdown-menu:after {
	top: auto;
	bottom: -6px;
	border-top: 6px solid #ffffff;
	border-bottom: 0;
}

.navbar .nav li.dropdown > a:hover .caret,
.navbar .nav li.dropdown > a:focus .caret {
	border-top-color: #333333;
	border-bottom-color: #333333;
}

.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
	color: #555555;
	background-color: #e5e5e5;
}

.navbar .nav li.dropdown > .dropdown-toggle .caret {
	border-top-color: #777777;
	border-bottom-color: #777777;
}

.navbar .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar .nav li.dropdown.active > .dropdown-toggle .caret,
.navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
	border-top-color: #555555;
	border-bottom-color: #555555;
}

.navbar .pull-right > li > .dropdown-menu,
.navbar .nav > li > .dropdown-menu.pull-right {
	right: 0;
	left: auto;
}

.navbar .pull-right > li > .dropdown-menu:before,
.navbar .nav > li > .dropdown-menu.pull-right:before {
	right: 12px;
	left: auto;
}

.navbar .pull-right > li > .dropdown-menu:after,
.navbar .nav > li > .dropdown-menu.pull-right:after {
	right: 13px;
	left: auto;
}

.navbar .pull-right > li > .dropdown-menu .dropdown-menu,
.navbar .nav > li > .dropdown-menu.pull-right .dropdown-menu {
	right: 100%;
	left: auto;
	margin-right: -1px;
	margin-left: 0;
	-webkit-border-radius: 6px 0 6px 6px;
	-moz-border-radius: 6px 0 6px 6px;
	border-radius: 6px 0 6px 6px;
}


.navbar-inverse .nav > li > a {
	color: #999999;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.navbar-inverse .nav > li > a:hover, .navbar-inverse .nav > li > a:focus {
	color: #ffffff;
}

.navbar-inverse .navbar-text {
	color: #999999;
}

.navbar-inverse .nav > li > a:focus, .navbar-inverse .nav > li > a:hover {
	color: #ffffff;
	background-color: transparent;
}

.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
	color: #ffffff;
	background-color: #17b;
}

.navbar-inverse .divider-vertical {
	border-right-color: #222222;
	border-left-color: #111111;
}

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
	color: #ffffff;
	background-color: #111111;
}

.navbar-inverse .nav li.dropdown > a:hover .caret,
.navbar-inverse .nav li.dropdown > a:focus .caret {
	border-top-color: #ffffff;
	border-bottom-color: #ffffff;
}

.navbar-inverse .nav li.dropdown > .dropdown-toggle .caret {
	border-top-color: #999999;
	border-bottom-color: #999999;
}

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle .caret,
.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle .caret {
	border-top-color: #ffffff;
	border-bottom-color: #ffffff;
}

/* ----------------------- bootstrap navbar ----------------------------- */
.dropdown-menu .divider {
	margin: 6px 1px 6px;
}

.navbar {
	-webkit-box-shadow: 0 2px 3px rgba(0,0,0,.25);
	box-shadow: 0 2px 3px rgba(0,0,0,.25);
}

.navbar-inner .form-search {
	position: relative;
	float: left;
	margin: 7px 0;
	width: 225px;
	height: 26px;
	color: #bbb;
}

.navbar-inner .nav>li>a {
	font-weight: bold;
	line-height: 1;
	color: #bbb;
	text-shadow: 0 -1px 1px rgba(0,0,0,.75);
}

.navbar-inner .nav {
	margin-right: 10px;
}

.navbar-inner .nav li i {
	width: 25px;
	height: 25px;
	margin: -5px 0px 0 0;
}

.nav .nav-home {
	background-position: -10px -20px;
}

 .nav li.active>a .nav-home, .nav a:hover .nav-home {
	background-position: -10px -50px;
}

.nav .nav-document {
	background-position: -45px -20px;
}

.nav li.active>a .nav-document, .nav a:hover .nav-document {
	background-position: -45px -50px;
}

.nav .nav-conference {
	background-position: -130px -20px;
}

.nav li.active>a .nav-conference, .nav a:hover .nav-conference {
	background-position: -130px -50px;
}

.nav .nav-messages {
	background-position: -170px -112px;
}

.nav li.active>a .nav-messages, .nav a:hover .nav-messages {
	background-position: -141px -112px;
}
.nav .profile-icon {
	background-position: -168px -20px;
}

.nav a:hover .profile-icon {
	background-position: -168px -50px;
}

.nav img {
	float: left;
}

.nav small {
	font-size: 12px;
}

.nav .account-summary .avatar {
	position: absolute;
	top: 3px;
	left: 22px;
	box-shadow: none;
}

.nav .fullname {
	display: block;
	font-size: 14px;
	color: #333;
	font-weight: bold;
}

.nav .dropdown-menu {
	border-radius: 4px;
}

.pushstate-spinner {
	display: inline-block;
	opacity: 0;
	padding: 6px 10px;
	vertical-align: top;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.topbar-post .new-post {
	float: left;
	background-position: -210px -23px;
	width: 22px;
	height: 18px;
}

.form-search .search-input {
	position: absolute;
	width: 165px;
	height: 14px;
	top: -2px;
	right: 0;
	z-index: 2;
	color: #444;
	background-color: transparent;
	background-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
	display: block;
	padding: 6px 27px 6px 12px;
	font-size: 12px;
	line-height: 1;
	color: #666;
	background-color: #ccc;
	border: 0;
	border-radius: 13px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.form-search .search-input:active {
	width: 200px;
	background-color: #fff;
}

.form-search .search-input:focus {
	width: 200px;
	background-color: #fff;
}

.pull-right {
	float: right;
}

.pull-right .nav {
	z-index: 5;
	position: relative;
	margin: 0 12px;
	float: left;
}

.pull-right .nav-separator {
	width: 25px;
}

.pull-right .topbar-post {
	position: relative;
	float: left;
	height: 28px;
	padding: 1px;
	margin-top: 5px;
	border-radius: 5px;
}

.pull-right .compose-btn {
	position: relative;
	top: -2px;
	float: left;
	padding: 3px 5px 5px 8px;
	font-size: 12px;
	line-height: 20px;
	color: #bbb;
	text-shadow: 0 -1px 1px rgba(0,0,0,.3);
	border-color: #111;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.15);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.15);
	background-color: #2c77ba;
    background: -webkit-linear-gradient(top, #59b 0, #37b 100%);
    background: -moz-linear-gradient(top,#59b 0,#37b 100%);
    background: -ms-linear-gradient(top,#59b 0,#37b 100%);
    background: -0-linear-gradient(top,#59b 0,#37b 100%);
    filter:
    progid:DXImageTransform.Microsoft.gradient(startColorstr='#2c77ba',endColorstr='#3377bb',GradientType=0);
}

.pull-right .compose-btn:hover, .pull-right .compose-btn:focus {
	text-decoration: none;
	background-color: #2c77ba;
	background-image: none;
	border-color: #000;
}

.pull-right .compose-btn:active {
	background-image: none;
	background-color: #2c77ba;
	border-color: #000;
	-webkit-box-shadow: inset 0 3px 6px rgba(0,0,0,.25);
	box-shadow: inset 0 3px 6px rgba(0,0,0,.25);
}

.dropdown-menu li {
	display: block;
	float: none;
}

/* ------------------------------ Sidebar styles ----------------------------------- */
.sidebar {
	border-radius: 6px;
	border: 1px solid rgba(0,0,0,.1);
}

.sidebar a {
	color: #0084b4
}

.sidebar a:hover {
	color: #005580;
}


.sidebar-nav {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
	box-shadow: 0 1px 4px rgba(0,0,0,.065);
}

.sidebar-nav>li>a {
	margin: 0 0 0px;
	padding: 8px 14px;
	border-bottom: 1px solid #e8e8e8;
	background-color: #f9f9f9;
	display: block;
}

.sidebar-nav>li>a:hover {
	background-color: #fff;
	text-shadow: 0 1px 0 rgba(0,0,0,.15);
}

.sidebar-nav>li.active>a {
	border: 0px;
	color: #333;
	background-color: #fff;
	text-shadow: 0 1px 0 rgba(0,0,0,.15);
	border-bottom: 1px solid #e8e8e8;
}

.sidebar-nav>li.active>a:hover {
	color: #333;
	background-color: #fff;
	text-shadow: 0 1px 0 rgba(0,0,0,.15);
}

.sidebar-nav>li>a>i {
	float: right;
	width: 16px;
	height: 16px;
}

.sidebar-nav>li.active>a>i.sidebar-nav-icon {
	background-position: -10px -134px;
}

.sidebar-nav>li>a>i.sidebar-nav-icon {
	background-position: -10px -114px;
}

.sidebar-nav>li>a:hover>i.sidebar-nav-icon {
	background-position: -10px -134px;
}

.sidebar-nav {
	margin: auto;
	padding: 0px;
}

.sidebar-nav li:first-child a {
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.sidebar-nav li:last-child a {
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border: 0px;
}

/* ------------------- Dialog styles ------------------------ */
.dialog-form {
	background-color: #eee;
	margin: auto;
	border-top: 1px solid #e5e5e5;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.5);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.5);
}

.dialog-container {
	display: none;
	position: fixed;
	overflow: auto;
	overflow-x: hidden;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 5000;
}

.dialog {
	position: absolute;
	top: 160px;
	width: 520px;
	margin: 0;
	padding-bottom: 30px;
	padding-right: 30px;
	z-index: 6000;
}

.dialog-content {
	position: relative;
	background-color: #fff;
	border: 1px solid #999 9;
	border-radius: 6px;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	-webkit-box-shadow: 0 4px 12px rgba(0,0,0,.4),inset 0 1px 0 rgba(255,255,255,.5);
	box-shadow: 0 4px 12px rgba(0,0,0,.4),inset 0 1px 0 rgba(255,255,255,.5);
}

.dialog-title {
	cursor: move;
}

.dialog-header {
	cursor: move;
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: #ececec;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top,#f5f5f5 0,#ececec 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#f5f5f5),color-stop(100%,#ececec));
	background-image: -webkit-linear-gradient(top,#f5f5f5 0,#ececec 100%);
	background-image: -ms-linear-gradient(top,#f5f5f5 0,#ececec 100%);
	background-image: -o-linear-gradient(top,#f5f5f5 0,#ececec 100%);
	background-image: linear-gradient(top,#f5f5f5 0,#ececec 100%);
	border-bottom: 1px solid #ddd;
	border-radius: 6px 6px 0 0;
	-webkit-box-shadow: inset 0 1px 0 #fff;
	box-shadow: inset 0 1px 0 #fff;
}

.dialog-footer {
	padding: 15px;
	background-color: #eee;
	border-top: 1px solid #e5e5e5;
	border-radius: 0 0 6px 6px;
}

.dialog .dialog-footer {
	padding: 10px 15px;
	font-size: 12px;
	color: #999;
	text-align: center;
	text-shadow: 0 1px 0 #fff;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.5);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.5);
}

.dialog-header .dialog-title {
	width: 75%;
	margin: 0 auto;
	overflow: hidden;
	font-size: 14px;
	font-weight: bold;
	line-height: 18px;
	color: #555;
	text-align: center;
	text-shadow: 0 1px 0 #fff;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.dialog-btn {
	padding: 11px 12px;
	background-color: transparent;
	cursor: pointer;
}

.dialog-close {
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
	border-left: 1px solid #ddd;
	border-radius: 0 6px 0 0;
	-webkit-box-shadow: inset 1px 0 0 rgba(255,255,255,.5);
	box-shadow: inset 1px 0 0 rgba(255,255,255,.5);
}

.dialog-close:hover {
	background-color: #eee;
}

.dialog-close .close-medium {
	float: left;
}

.dialog-close .close-medium {
	background-position: -124px -176px;
}

.dialog-close:hover .close-medium {
	background-position: -144px -176px;
}

.dialog-dark .dialog-content {
	background-color: #000;
	border: 1px solid #999 9;
}

.dialog-dark .dialog-header {
	background-color: #3a3a3a;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top,#585858 0,#3a3a3a 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#585858),color-stop(100%,#3a3a3a));
	background-image: -webkit-linear-gradient(top,#585858 0,#3a3a3a 100%);
	background-image: -ms-linear-gradient(top,#585858 0,#3a3a3a 100%);
	background-image: -o-linear-gradient(top,#585858 0,#3a3a3a 100%);
	background-image: linear-gradient(top,#585858 0,#3a3a3a 100%);
	border-bottom: 1px solid #222;
	border-radius: 6px 6px 0 0;
	-webkit-box-shadow: inset 0 1px 0 #333;
	box-shadow: inset 0 1px 0 #333;
}

.dialog-dark .dialog-close {
	border-left: 1px solid #222;
	-webkit-box-shadow: inset 1px 0 0 rgba(255,255,255,.1);
	box-shadow: inset 1px 0 0 rgba(255,255,255,.1);
}

.dialog-dark .dialog-footer {
	background-color: #3a3a3a;
	border-top: 1px solid #e5e5e5;
}

.dialog-dark .dialog-header .dialog-title {
	color: #eee;
	text-shadow: 1px 0px 0 #000;
}

.dialog-dark .dialog-close {
	border-left: 1px solid #222;
	-webkit-box-shadow: inset 1px 0 0 rgba(255,255,255,.1);
	box-shadow: inset 1px 0 0 rgba(255,255,255,.1);
}

.dialog-dark .dialog-close:hover {
	background-color: #444;
}

.close-medium, .error-x, .dismiss-white {
	width: 10px;
	height: 12px;
}

.footer-wrapper {
	height: auto;
	min-height: 100%;
}

/* -------------------------- Post dialog styles ----------------------------- */

#post-dlg .dialog-body {
	padding: 15px;
}

.post-form .editor, .message-form .editor {
	display: block;
	overflow-y: auto;
	word-wrap: break-word;
	-webkit-nbsp-mode: normal;
	height: 80px;
	padding: 8px;
	vertical-align: top;
	overflow: hidden;
	text-shadow: none;
	margin: 0;
}

.editor a {
	text-decoration: none !important;
}

.editor-normalizer {
	display: none;
}

.post-toolbox {
	float: left;
}

.post-button {
	float:right;
}

.dialog .post-content {
	margin: 0 0 10px;
}

.post-content .editor {
	height: 80px;
}

/* ------------------------------- Conversation styles ----------------------- */
.message-form {
	padding: 15px;
}

.message-form .editor {
	margin-bottom: 8px;
}

.message-form .send-button {
	float: right;
}

.conversation {
	background-color: #f0fafa;
	padding: 15px;
}

.message-received, .message-sent {
	position: relative;
	display: block;
}

.message-placeholder {
	display: block;
	height: 1px;
	margin: 0 48px;
}

.message {
	max-width: 350px;
	/* float: left; */
	position: relative;
	padding: 7px 12px;
	font-size: 12px;
	word-wrap: break-word;
	/* background-color: #f5f5f5; */
	border: 1px solid #dcdfe1;
	border-radius: 4px;
	/*-webkit-box-shadow: inset 0 3px 3px rgba(255,255,255,.4),0 1px 1px rgba(0,0,0,.05);*/
	/*box-shadow: inset 0 3px 3px rgba(255,255,255,.4),0 1px 1px rgba(0,0,0,.05);*/
	margin: 0 10px;
}

.message p {
	margin: 0;
}

.message-received .avatar {
	position: absolute;
	top: 0;
	left: 0;
	right: auto;
}

.message-sent .avatar {
	position: absolute;
	top: 0;
	right: 0;
	left: auto;
}

.message-content {
/* margin: 0 10px; */
}

.message-received .message {
	float: left;
	color: #fff;
	/*background-color: #c5f5c5;*/
	background-color: #333;
}

.message-sent .message {
	float: right;
	color: #333;
	/*background-color: #f5f5f5;*/
	background-color: #fff;
}

.message-sent .message-content {
	margin: 0 50px 15px 0;
}

.message-received .message-content {
	margin: 0 0 15px 50px;
}

.msg-caret-inner, .msg-caret-outer {
	position: absolute;
	width: 0;
	height: 0;
	vertical-align: text-bottom;
}

.msg-caret-outer {
	top: 0;
	left: 0;
	z-index: 10;
	border-top: 5px solid transparent;
	/*border-right: 5px solid #dcdfe1;*/
	border-right: 5px solid #333;
	border-bottom: 5px solid transparent;
}

.msg-caret-inner {
	top: 1px;
	left: 1px;
	z-index: 11;
	border-top: 4px solid transparent;
	/*border-right: 4px solid #f5f5f5;*/
	border-right: 4px solid #333;
	border-bottom: 4px solid transparent;
}

.message-sent .msg-caret {
	right: -10px;
	left: auto;
}

.message-sent .msg-caret-outer {
	border-right: 0;
	/*border-left: 5px solid #dcdfe1;*/
	border-left: 5px solid #dcdfe1;
}

.message-sent .msg-caret-inner {
	left: -1px;
	border-right: 0;
	/*border-left: 4px solid #e9f3fa;*/
	border-left: 4px solid #fff;
}

.msg-caret {
	position: absolute;
	top: 12px;
	left: -5px;
	width: 10px;
	height: 10px;
}

/* -------------------- Profile styles -------------------- */
.profile-content {
	padding-right: 15px;
	margin-top: 1px;
	line-height: 14px;
	margin-left: 42px;
}

/* --------------------- Module styles ---------------------- */

.dashboard {
	float: left;
	width: 302px;
}

.module {
	/*display: table;*/
	text-shadow: 0 1px 0 #fff;
	border: 1px solid #eee;
	border: 1px solid rgba(0,0,0,.1);
	position: relative;
	margin-bottom: 10px;
	line-height: 16px;
	border-radius: 6px;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	background-color: #f9f9f9;
	/*width: 100%;*/
}

.module a {
	color: #0084b4
}

.module a:hover {
	color: #005580;
}

.module-inner {
	padding: 12px;
}

.module-header {
	font-size: 13px;
	color: #999;
}

.module-header a:hover h3 {
	text-decoration: underline;
	color: #005080;
}

.module-header h3 {
	display: inline;
}

/* ----------------------------------- Reader styles ----------------------------- */
.reader .reader-loading {
    text-align: center;
	height: 150px;
	background-color: #000;
	padding: 60px;
}

.reader .reader-content {
    background-color: #fff;
}

.reader .reader-document {
	padding: 15px;
}
